.welcome {
    background-color: #57182e;
    padding: 12px;
    width: fit-content;
    border-radius: 4px;
}
.name {
    font-size: 3rem;
}
.title {
    font-size: 2rem;
}
.textw {
    padding-top: 10px;
    font-size: 0.8rem;
}